/kiosk-image/images/*.iso
/kiosk-image/build
/.idea
/master-console/.idea/
/master-server/pkg/mod/
/kiosk-image-scripts/
/kiosk-worker/venv/
/kiosk-worker/.idea/
/kiosk-worker/kiosk_config.json
/kiosk-worker/screenshot.png
