.LeftPanel{
    width: max-content;
    flex: 20%;
}

.NavigationList {
    list-style-type: none;
    padding-inline-start: 0;
}

.NavigationList > a > li{
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 12px;
    text-align: center;
    background-color: aquamarine;
}

.NavigationList > a > li:hover{
    background-color: forestgreen;
}

.NavigationList > a > li:hover{
    color: yellow;
}

.NavigationList > a {
    text-decoration:none;
}

.NavigationList > a > li {
    color: darkslategray;
    display: block;
    width: inherit;
    height: inherit;
}

.NavigationList > a > li {
    text-decoration:none;
    color: darkslategray;
}