apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-db
spec:
  serviceName: "postgres-db"
  replicas: 1
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
        - name: postgres-db
          image: zaza13/kiosks/postgres:1.1
          ports:
            - containerPort: 5432
          livenessProbe:
            initialDelaySeconds: 60
            periodSeconds: 10
            failureThreshold: 3
            successThreshold: 1
            timeoutSeconds: 5
            tcpSocket:
              port: 5432
          resources:
            limits:
              cpu: 500m
              memory: 300Mi
            requests:
              cpu: 100m
              memory: 128Mi
          env:
            - name: POSTGRES_PASSWORD
              value: somePassword
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: database-data
  volumeClaimTemplates:
    - metadata:
        name: database-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        resources:
          requests:
            storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-db
spec:
  ports:
    - name: "5432"
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    app: postgres-db
  type: ClusterIP
