.GridTable {
    width: 95%;
    border-collapse: collapse;
    height: 90%;
    margin: 22px;
    border: 1px solid lightgrey;
}

.GridTableDiv{
    border: 1px solid lightgrey;
    margin: 12px;
    width: 95%;
}

.GridRow {
    border: 1px solid lightgrey;
}

.GridRow:hover{
    background-color: #61dafb;
}

.GridColumn {
    padding-bottom: 3px;
    padding-top: 3px;
    border: 1px solid lightgrey;
    padding-left: 16px;
}

.GridHeader {
    border: 1px solid lightgrey;
    text-align: left;
    padding-left: 16px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: forestgreen;
}
